.conversation {
    border-radius: 35px;
    padding: 3em 6em 0 6em;
    margin: 2em 5em 0 5em;
    position: absolute;
    width: 90%;
    transition: 0.5s;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFEF5 100%);
    border-bottom: 18px solid #59BCAA!important;
    border-radius: 35px;
    height: 730px;
}

.text-question {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 138.5%;    
    text-align: center;
    letter-spacing: 0.025em;
    /* color: #444444; */
    -webkit-text-fill-color: #444444;
    /* -webkit-text-stroke: 1px #F8F8F8; */
    padding: 0.25em;
}

.question {
    /* border-bottom:  12px solid #59BCAA; */
    /* border-radius: 50px; */
    margin-top: 3em;
}

.hr {
    margin-top: .75em;
    border:  2px solid #59BCAA;
    border-radius: 50px;
}
.answer {
    list-style: none;
    /* overflow-Y : scroll; */
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    height: 130px;
    padding: 3em 5em 5em 5em;
}

.li-answer {
    text-align: center;
    letter-spacing: .025em;
    color: #444;
    background: linear-gradient(180.41deg, #fff .36%, #5ebead 131.48%, #b0e4db 131.48%);
    border-radius: 34px;
    align-items: center;
    font-family: Fredoka;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 138.5%;
    height: 133px;
    padding: 1em;
    border: 6px solid #59BCAA;
    transition: .15s;
}

.li-answer:hover {
    transform: scale(1.1);
}