.draw {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFDF1 100%);
    border-bottom: 18px solid #59BCAA;
    border-radius: 35px;
    padding: 3em 6em 0 6em;
    margin: 2em 5em 0 5em;
    position: absolute;
    width: 90%;
    height: 700px;
}

#toolbar {
    padding: .25em;
    background-color: #59BCAA;
    border-radius: 15px;
}
#lineWidth {
    background: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    border:0;
    background-color: #fbfbfb;
}
label {
    padding: 1em;
}

#save-panting {
    background: linear-gradient(180deg, #FFFFFF 0%, #E0F1FF 100%);
    border-radius: 34px;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 138.5%;
    /* or 33px */

    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.025em;
    border:0;
    border-bottom: 8px solid #79A5C7!important;
    width: 160px;
    height: 66px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #2FABF7;
    top: 582px;
    left: 1155px;
    position:absolute;
}

#clear {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE0E0 100%);
    border-bottom: 8px solid #C77979!important;
    border: 0;
    width: 66px;
    height: 66px;
    border-radius: 22px;
    top: 582px;
    left: 1064px;
    position:absolute;
}

#canvas {
    width: 1251px;
    height: 443px;
    background: linear-gradient(180.27deg, #fff -4.65%, #d2ebe6 132.62%);
    border-radius: 34px;
    margin-top: 1em;
    border: 3px solid #59bcaa !important;
}

#clear:hover {
    animation: headShake;
    animation-duration: 2s;
}

#save-panting:hover {
    animation: headShake;
    animation-duration: 2s;
}

.parrafo3 {
    top: 45%;
    left: 45%;
    position: absolute;
    background: linear-gradient(180deg, #FFFFFF 0%, #E0F1FF 100%);
    border-radius: 34px;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 138.5%;
    /* or 33px */
display: none;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.025em;
    border:0;
    border-bottom: 8px solid #79A5C7!important;
    width: 200px;
    height: 200px;
    /* display: flex; */
    align-items:center;
    justify-content: center;
    color: #2FABF7;

}