.memograma {
     background: linear-gradient(180deg, #FFFFFF 0%, #FFFDF1 100%);
     border-bottom: 18px solid #59BCAA;
     border-radius: 35px;
     padding: 3em 6em 0 6em;
     margin: 2em 5em 0 5em;
     position: absolute;
     width: 90%;
     height: 700px;
     transition: 0.5s;
     left: 73px;
}

img {
     max-width: 100%;
}

h1 {
     font-size: 3.5rem;
}

.contenedor-general {
     width: 1340px;

}

h1.titulo {
     text-align: center;
     margin: 2rem 0;
     display: block;
     color: #000;
}

.contenedor-tarjetas {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     width: 100%;
     height: 70%;

}

.parrafo {
     color: #000;

}

hr {
     color: #000;
     width: 200px;
     margin-top: -10px;
}

.tarjeta {
     background-image: url(../assets/img/doodad.jpg);
     background-size: cover;
     width: 75px;
     height: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.75);
     box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.75);
     margin: 2rem 2rem;
     border-radius: 1rem;
     padding: .5rem;
     position: relative;
}

img.tarjeta-img {
     display: none;
}

/* Adicionales */

.acertada {
     display: block;
}

.pantalla-bloqueada {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: rgba(44, 44, 72, 0.75);
     z-index: 5;
     display: none;
}
.container {
     margin-top: 1em;
     height: 95%;
     display: flex;
}
.game-card {
     padding-top: 0em ;
}
.flex {
     flex-direction: row;
     justify-content: center;
     align-self: center;
     gap: 5em;
     display: flex;
     top: 70%;
     /* left: 10%; */
     width: 100%;
 }

h2.mensaje {
     font-size: 5rem;
     color: black;
     z-index: 10;
     text-align: center;
     margin: 32rem 0;
}

.error {
     position: absolute;
     bottom: 5rem;
     font-size: 3rem;
     color: black;
}

.nivel-dificultad {
     color: black;
     position: absolute;
     bottom: 5rem;
     font-size: 3rem;
     right: 21rem;
}

img {
     width: 100%;
     height: auto;
}

@supports(object-fit: cover) {
     img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
     }
}