
:root {
    --green-color: #59BCAA;
    --text-color: #444444;
    --bg-color: #FFFDF1;
}

body {
    font-family: 'Fredoka', sans-serif;
    overflow: hidden;

}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

* {
    padding: 0,;
    margin: 0;
    box-sizing:border-box;
    /* border: 1px solid black; */
    /* cursor: none; */

}

.close {
    padding: 0em 1.5em 0em 1.5em;
    width: 58px;
    height: 58px;    
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE0E0 100%);
    border-bottom: 8px solid #C77979;
    border-radius: 14px;
    transition: 0.15s;
}

.close:hover {
    animation: heartBeat;
    animation-duration: 2s;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 5em;
    display: flex;
    top: 70%;
    /* left: 10%; */
    width: 100%;
}

.button-menu {
    border:none;
    width: 10em; 
    height: 10em;
    background: linear-gradient(180deg, #FFFFFF 0%, #E0F1FF 100%);
    border-bottom: 8px solid #79A5C7!important;
    border-radius: 34px;
}

.button-menu:hover {
    /* box-shadow: -8px 8px 0px #36776B;
    transform: scale(1.05); */
    animation: heartBeat;
    animation-duration: 2s;
}

/* =======cursor==========0 */
.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}
  
.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #79A5C7;
    opacity: .9;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}
.hover {
    background-color: red;
    opacity: 0.5;
}
  
.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}

@media (min-width:777px) {
    .button-menu{
   
        min-height: 3.5em;
        min-width: 3.5em;
        max-width: 10em; 
        max-height: 10em;
    }
}

.coins {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #444444;
    border: 3px solid #F8F8F8;
    width: 214px;
    height: 82px;
    background: #E0F1FF;
    border-bottom: 8px solid #79A5C7;
    border-radius: 34px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 1em;
    position: absolute;
    top: -490px;
    left: 1200px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* ----------- */
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);

    /* ----------- */

    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-bottom: 5px solid #59BCAA;
    border-radius: 34px;
    background-color: #59BCAA;
    border: 1px solid #59BCAA;
}

#container::before {
    content: "BIENBENIDO!";
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 138.5%;
    background-color: var(--bg-color);
    letter-spacing: 0.025em;
    padding: 0.5em;
    border-radius: 25px;
    /* border-bottom: 2px solid #79A5C7; */
}
.user-label {
    background-color: var(--bg-color);
    letter-spacing: 0.025em;
    padding: 0.5em;
    border-radius: 10px;

}

#button-login {
    display: flex;
    align-items:center;
    justify-content: center;
    color: #2FABF7;
    background: linear-gradient(180deg, #FFFFFF 0%, #E0F1FF 100%);
    border-radius: 34px;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 138.5%;
    border: none;
    padding: .25em 1em .25em 1em;
    margin-top: 1em;
}